@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,600&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
@import "../src/assests/mixins.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-color !important;
  width: 80% !important;
  margin: auto !important;
  font-family: "Open Sans", sans-serif !important;
  color: $text-color !important;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: $text-color !important;

  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
}
